h2 {
    margin: 30px 0 10px 0;
}

.sales-overview {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    text-align: center;
    max-width: 1000px;
    margin: 20px 0;
}

.counter-text {
    font-size: 20px;
}

.sales-block {
    padding: 20px;
    border: 2px solid #6dad99;
    border-radius: 4px;
    background-color: #e8fff8;
    color: #6dad99;
    width: 100%;
}

.purchased-block {
    padding: 20px;
    border: 2px solid #6d81ad;
    border-radius: 4px;
    background-color: #e8f5ff;
    color: #6d81ad;
    width: 100%;
}

.available-block {
    padding: 20px;
    border: 2px solid #ad6d6d;
    border-radius: 4px;
    background-color: #ffe8e8;
    color: #ad6d6d;
    width: 100%;
}

.most-sold-block {
    display: flex;
    border: 2px darkgray dashed;
    background-color: #ececec;
    border-radius: 4px;
    /*padding: 50px 30px;*/
    max-width: 1000px;
}

.bestseller-image-wrapper {
    width: 200px;
    margin: 35px 0 35px 35px;
}

.bestseller-image {
    max-width: 100%;
}

.bestseller-information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 20px 20px 30px;
}

.bestseller-price {
    font-size: 20px;
}

.bestseller-sizes {
    font-size: 13px;
}

.bestseller-usps {
    display: flex;
    align-items: center;
    gap: 5px;
}

.usp-icon {
    height: 10px;
}

.filter-buttons {
    display: flex;
    gap: 10px;
}

button {
    padding: 2px 5px;
}